
<footer class=" left-0 z-20 
                p-4 md:flex md:items-center md:justify-between md:p-6
                dark:bg-black/20 dark:border-gray-600 w-full 
                xl:w-[1120px] mx-auto mb-10">

    <span class="text-sm sm:text-center text-yellow-200">© 2023 
        <a href="https://flowbite.com/" 
        class="hover:underline">
        ReinaldoPR</a>
        . Casi todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#top" class="hover:underline me-4 md:me-6">Sobre mi</a>
        </li>
        <li>
            <a href="#contacto" class="hover:underline">Contacto</a>
        </li>
    </ul>
</footer>
